/* profile.css */

/* Default styles */


.dashboard-icon {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 50%;
}



.dashboard-bar {
    height: 10px;
    background-color: #4caf50;
    margin-top: 5px;
    border-radius: 5px;
}

.current-user {
    color: #007bff;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */

@media (max-width: 768px) {

    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    .dashboard-item,
    .dashboard-item-2 {
        width: 100%;
    }

    .dashboard-item-2 .dashboard-icon {
        margin-right: 0;
        /* Adjust the margin for the icon in dashboard-item-2 as needed */
    }
}