@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.navbar-container{
    padding: 10px 40px;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--border);
    opacity: 0.9;
}

.navbar-image {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.logo-image{
    height: 40px;
}

@media screen and (max-width:768px) {
    .btn{
        margin-bottom: 20px;
    }
    .navbar-container{
        padding: 10px;
    }
}

.logo-text {
    font-style: italic;
    font-weight: bold;
    color: var(--accent-background);
    text-shadow: 2px 2px 4px rgb(162, 162, 162);
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    position: relative;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
    height: 100%;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-background);
    transition: width .4s;
    color: var(--accent-background);
}

.nav-link:hover::before {
    width: 100%;
    color: var(--accent-background);
}

.auth-button{
    background-color: #dad6ff;
    color: var(--accent-background);
    font-weight: 500;
    gap: 8px;
    height: 42px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    transition: .3s;
    padding: 14px;
}
/* .auth-button:hover{
    background-color: var(--button-hover);
} */

/* .nav-span{
    color: var(--button-text);
} */

.three-dots{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: transparent;
    color: rgb(25, 27, 41)
}

.three-dots:hover{
    background-color: var(--main-background-shade);
}


.profile-image{
    border-radius: 50%;
    margin-right: 4px;
}


.logo-link{
    text-decoration: none;
}

.active-nav{
    border-bottom:3px solid var(--accent-background);
    color: var(--accent-background);
    font-weight: 600;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    color: aliceblue;
    margin-right: 10px;
    cursor: pointer;
} 



